{% extends 'base.html' %}

{% block body %}
<div class="row justify-content-center">
        <div class="col">

            <h1 class="display-3 text-center text-primary text-uppercase">Products</h1>

            <h1 class="mt-4 text-success">SMART task List</h1>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">goal</th>
                    <th scope="col">trackMethod</th>
                    <th scope="col">hoursWorked</th>
                </tr>
                </thead>
                <tbody>
                {% for x in tasks %}
                    <tr class="p-3">
                        <th>{{ forloop.counter }}</th>
                        <td>{{ x.name }}</td>
                        <td>{{ x.goal }}</td>
                        <td>{{ x.trackMethod }}</td>
			<td>{{ x.hoursWorked}}</td>
                        <td>
                            <a href="{% url 'updateTask' x.id %}" class="update-icon">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </td>
                        <td>
				<a href="{% url 'deleteTodo' x.id %}" class="delete-icon">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                            
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a href="{% url 'addTask' %}" class="btn btn-success"><i class="fas fa-plus"></i> Add a new product</a>

{% endblock %}

