{% extends 'base.html' %}

{% block body %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link href="style.css" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="script.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap" rel="stylesheet">
</head>

  <div class="container rounded bg-white mt-3 p-3 shadow-sm">
    <div style="background-color: #FFC971;" class="shadow-sm rounded mt-1">
      <div class="float-left mt-5">
        <h1 class="ml-4 font">hello user</h1>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#40BCD8" fill-opacity="1"
          d="M0,0L21.8,10.7C43.6,21,87,43,131,64C174.5,85,218,107,262,128C305.5,149,349,171,393,160C436.4,149,480,107,524,85.3C567.3,64,611,64,655,96C698.2,128,742,192,785,192C829.1,192,873,128,916,112C960,96,1004,128,1047,128C1090.9,128,1135,96,1178,90.7C1221.8,85,1265,107,1309,112C1352.7,117,1396,107,1418,101.3L1440,96L1440,320L1418.2,320C1396.4,320,1353,320,1309,320C1265.5,320,1222,320,1178,320C1134.5,320,1091,320,1047,320C1003.6,320,960,320,916,320C872.7,320,829,320,785,320C741.8,320,698,320,655,320C610.9,320,567,320,524,320C480,320,436,320,393,320C349.1,320,305,320,262,320C218.2,320,175,320,131,320C87.3,320,44,320,22,320L0,320Z">
        </path>
      </svg>
    </div>
  </div>

  <div class="container card rounded shadow-sm font bg-white mt-5 p-4">
    <div class="row justify-content-center">
      <div class="col-5 rounded card mr-3 shadow" style="background-color: #39A9DB;">
        <h1>productivity quote of the day</h1>
        <div class="card-body">
          <blockquote class="blockquote">
            <p>blah</p>
            <footer class="blockquote-footer">author of <cite title="book">Source Title</cite></footer>

          </blockquote>
          <a href="#" class="btn btn-light">get a new card</a>
        </div>
      </div>
      <div class="col-6 card rounded p-2 shadow" style="background-color: #40BCD8;">

        <h3 class="card-title">-How to use this site</h3>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. </p>
        <h3 class="card-title">-What this site is for</h3>
        <p class="card-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. </p>
        <h3 class="card-title">-Focus techniques</h3>
        <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum.</p>
      </div>
    </div>
  </div>

  <div class="container rounded card shadow mt-5 mb-5 p-3 font float-center footer_background ">
    <h3 class="mt-2 text-center mr-5">contact</h3>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-1"><a class="fa fa-facebook text-dark" href="#"></a></div>
        <div class="col-1"><a class="fa fa-twitter text-dark" href="#"></a></div>
        <div class="col-1"><a class="fa fa-instagram text-dark" href="#"></a></div>
      </div>
    </div>

  </div>
  {% endblock %}
</body>

</html>